:root {
    --primary-color: #126F54;
    --secondary-color: #4CE0D2;
    --accent1-color: #39A0ED;
    --accent2-color: #1D263B;
}

header {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    margin: 1rem auto;
    display: grid; 
    grid-template-columns: 160px 1fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
    max-width: 2000px;
}

header img {
    margin: 0 0.25rem 0 1rem;
    width: 150px;
    height: auto;
}

.hero h1 {
    text-align: center;
    color: black;
    font-size: 4rem;
    text-decoration: solid;
}

nav {
    text-align: center;
    font-size: 1.5rem;
}

.navigation {
    display: flex;
    list-style: none;
}

.navigation li {
    flex: 1 0.5 100%;
}

main {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: grid;
    grid-template-rows: 380px 400px 1fr;
}

.adventure {
    display: grid;
    margin-top: 11rem;
    grid-template-columns: repeat(5, 1fr);
    padding-left: 60px;
}

.adventure h2 {
    grid-column: 1/6;
    text-align: center;
    font-size: 3rem;
}

.adventure img {
    width: 300px;
    height: auto;
}

.adventure figure {
    text-align: center;
}

.history {
    justify-content: center;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.history h2 {
    grid-column: 1/4;
    font-size: 3rem;
}

.history p {
    background-color: var(--accent2-color);
    color: white;
    height: auto;
    justify-content: center;
    align-content: center;
    margin: 0;
}

.history img{
    width: 700px;
    height: auto;
    justify-content: center;
    align-content: flex-end;
}

.hero{
    height: 400px;
    margin: 0;
}

.hero article {
    color: white;
    background-color: var(--accent2-color);
    display: flex;
    flex-direction: row-reverse;
}

.hero article img {
    width: 300px;
    height: auto;
}

.hero2 {
    text-align: center;
    font-size: 2rem;
    display: flex;
    flex-wrap: wrap;
    height: 800px;
    justify-content: center;
}

.hero2 img {
    width: 1900px;
    height: auto;
}

.newsletter {
    margin-top: 450px;
    width: 2000px;
    display: flex;
    align-content: center;
    background-color: var(--accent1-color);
}

.newsletter h1 {
    font-size: 1.5rem;
    margin-right: 10px;
    background-color: var(--accent1-color);

}

.newsletter form {
    margin-top: 5px;
    background-color: var(--accent1-color);
    margin-bottom: 5px;

}

.newsletter p {
    margin-left: 10px;
    font-size: 2rem;
    color: var(--primary-color);
}

.newsletter a {
    align-content: center;
    font-size: 4rem;
    margin-top: 30px;
}

.additional {
    margin-top: 200px;
    display: flex;
    background-color: var(--accent1-color);
}

.additional img {
    width: 400px;
    height: auto;
}

.contact {
    height: 250px;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.contact h1 {
    text-align: center;
    color: black;
    font-size: 4rem;
    text-decoration: solid;
    grid-column: 1/4;
}

.contact article {
    color: white;
    background-color: var(--accent2-color);
    display: grid;
    justify-content: right;
    grid-column: 1/3;
    padding-right: 40px;
}

.contact iframe {
    height: 200px;
    width: 470px;
}

.employee {
    display: flex;
}

.employee img {
    width: 400px;
    height: auto;
}

form fieldset div {
    padding: .4rem;
}

form button {
    padding: 5px;
    background-color: aliceblue;
}

form button:hover {
    background-color: #126F54;
}

footer {
    display: flex;
    width: 1904px;
    justify-content: flex-end;
}

footer p {
    padding-right: 600px;
}

.wireframe {
    padding-right: 5px;
    font-size: 2rem;
}