/*
primary-color: #126F54
secondary-color: #4CE0D2
accent1-color: #39A0ED
accent2-color: #1D263B
https://coolors.co/126f54-4ce0d2-39a0ed-1d263b

heading-font: <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:wght@100;400&display=swap" rel="stylesheet"> 

font-family: "Montserrat", sans-serif;
font-optical-sizing: auto;
font-weight: <weight>;
font-style: normal;

text-font: <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">

font-family: "Roboto", sans-serif;
font-weight: 400;
font-style: normal;
*/