* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-size: 1.2rem;
    color: #0252ca;
    background-color: gainsboro;
}

header {
    width: 1000px;
    margin: 0 auto;
}

h1 {
    margin: 1rem;
    font-size: 2.4rem;
    text-align: center;
}

form {
    width: 1000px;
    margin: 0 auto;
    padding: 1rem;
    border: 2px black solid;
    border-radius: 0.5rem;
    background-color: aliceblue;
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: .7rem;
    padding: .5rem;
}

legend {
    font-size: 1.45rem;
    margin: .25rem;
}

label {
    text-align: right;
    padding-right: 10px;
}

input, select, textarea {
    padding: 1rem;
    font-size: 1rem;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

button {
    width: 60px;
    margin: 0 auto;
}

button:hover {
    background-color: blueviolet;
}

footer {
    margin: 1rem 0 auto;
    text-align: center;
    font-size: 1.4rem;
    border-top: 2px black dashed;
}

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 3fr 1fr;
    margin: 1rem 0;
}

.column2 {
    grid-template-columns: 1fr 2fr;
    margin: 0.5rem 0;
}