* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: blue;
    background-color: bisque;
}

header {
    margin: 0 auto;
    width: 1000px;
}

form {
    width: 1000px;
    display: grid;
    margin: 0 auto;
}

fieldset {
    display: grid;
}