:root {
    --heading-background-color: steelblue;
    --footer-used-color: grey;
}

nav {
    background-color: var(--heading-background-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 10px;
}

h1 {
    color: var(--heading-background-color);
}

main {
    max-width: 700px;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid var(--heading-background-color);
    padding: 2px;
    box-shadow: 0 0 30px var(--footer-used-color);
}

p {
    padding: 0;
}

aside {
    width: 500px;
    margin: 5px;
    border: 5px;
    padding: 10px;
    background-color: aliceblue;
    color: rgb(34, 50, 139);
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 10px;
    border-top: 2px dashed var(--footer-used-color);
    text-align: center;
}