* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --heading-background-color: steelblue;
    --footer-used-color: grey;
}

nav {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--heading-background-color);
    padding: 10px;
    align-items: center;
}

nav a {
    color: white;
    display: block;
    padding: 10px;
    text-decoration: none;
    font-size: 1.2rem;
}

h1 {
    color: var(--heading-background-color);
    border-bottom: 2px solid skyblue;
}


main img {
    width: 150px;
    height: auto;
    border: 1px solid var(--heading-background-color);
    padding: 2px;
    box-shadow: 0 0 30px var(--footer-used-color);
    float: right;
}

p {
    padding: 0;
}

aside {
    width: 500px;
    grid-column: 1/2;
    grid-row: 1/2;
    position: relative;
}

aside h2 {
    position: absolute;
    top: 450px;
    left: 210px
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 10px;
    border-top: 2px dashed var(--footer-used-color);
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid steelblue;
    padding: 1rem;
    background-color: gray;
    color: white;
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

.grid {
    display: grid;
    align-items: center;
}

main {
    grid-column: 2/3;
    margin: 1rem;
}